alembic==1.20.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
click==8.5.0
confluent-kafka==2.15.1
fastapi==0.141.1
h11==0.16.0
idna==3.20
Mako==1.4.3
MarkupSafe==3.0.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1785888127/work
pydantic==2.13.5
pydantic_core==2.46.5
PyMySQL==1.2.3
setuptools==84.0.0
SQLAlchemy==2.1.0
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.53.0
wheel==0.48.0
